* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

/* When list is hovered, change a mouse pointer into a handpointer */
li:hover {
  cursor: pointer;
  border-bottom: 5px solid #20de83;
}
  
a {
  text-decoration: none;
}

#container {
  background: #bf9a9a;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  min-height: 80px;
}

#header-container {
  height: 100%;
  background: #262222;
  padding: 0 2.9%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#restaurant-title {
  font-size: 2rem;
  color: #fff;
}

#restaurant-title #kor {
  color: #E33535;
}

#nav-bar {
  display: flex;
  align-items: center;
}
/*  */
#nav-bar li {
  margin-right: 20px;
  color: #fff;
  font-size: 1.2rem;
}

#nav-bar li:last-child {
  margin-right: 0;
}



main {
  flex: 8.5 0 0;
  min-height: 500px;
}

/* HOME */

#home-main-container {
  width: 100%;
  height: 100%;
  background-color: #000;

  position: relative;
}

#landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

#phrase-box {
  position: absolute;
  width: 66%;
  max-width: 700px;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-phrase {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

/* ABOUT */

#about-main-container {
  width: 100%;
  height: 100%;
  background-color: #000;

  position: relative;
}

#about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}


#about-phrase-box {
  position: absolute;
  width: 66%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#phrase-box-span {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

#phrase-box-p {
  margin-top: 20px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

/* MENU */

#menu-main-container {
  width: 100%;
  height: 100%;
  background: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.menu-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTACT */

#contact-main-container {
  width: 100%;
  height: 100%;
  background-color: #000;

  position: relative;
}

#contact-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

#contact-section {
  position: absolute;
  width: 66%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-txt {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

#contact-icons {
  margin-top: 20px;
  text-align: center;
}

.fab, .far {
  font-size: 3rem;
  margin-right: 20px;
  color: #fff;
}

.text-white {
  color: white;
}

