.bg-dark {
  background: #0F2027 !important; 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;

}

a {
  color: #fff !important;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  padding: 8px;
}

a:hover {
  background-color: #343a40 !important;
  border-radius: 20% 0px 0px;
  color: #eae1e1 !important;
  cursor: pointer;
}
.tasty{
   font-family: 'Satisfy', cursive;
}
.navbar {
  padding-bottom: 0px;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 28px;
}

.container {
  margin-top: 8%;
}

.title {
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
}

.description {
  font-family: 'Didact Gothic', sans-serif;
}

.quote {
  font-family: 'Great Vibes', cursive;
}


.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
   
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #1b1f23 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: #6f6d6d none repeat scroll 0 0;
    color: #eae1e1;
    transition: all 0.5s ease 0s;
}